external/src/main/java/external/entity/fatsecret/fatsecret.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://platform.fatsecret.com/api/1.0/" targetNamespace="http://platform.fatsecret.com/api/1.0/" elementFormDefault="qualified">

<!-- definition of simple elements -->

<!-- error elements -->
<xsd:simpleType name="code">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="message">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<!-- food elements -->
<xsd:simpleType name="food_id">
	<xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="food_name">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="brand_name">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="food_type">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Brand"/>
		<xsd:enumeration value="Generic"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="food_url">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="food_description">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<!-- serving elements -->
<xsd:simpleType name="serving_id">
	<xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="serving_description">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="serving_url">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="metric_serving_amount">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="metric_serving_unit">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="number_of_units">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="measurement_description">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="calories">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="carbohydrate">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="protein">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="fat">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="saturated_fat">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="polyunsaturated_fat">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="monounsaturated_fat">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="trans_fat">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="cholesterol">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="sodium">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="potassium">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="fiber">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="sugar">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="vitamin_a">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="vitamin_c">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="calcium">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="iron">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<!-- foods elements -->
<xsd:simpleType name="max_results">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="total_results">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="page_number">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>  
  
<!-- food_entry elements -->
<xsd:simpleType name="food_entry_id">
	<xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="food_entry_description">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>  

<xsd:simpleType name="meal">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Breakfast"/>
		<xsd:enumeration value="Lunch"/>
		<xsd:enumeration value="Dinner"/>
		<xsd:enumeration value="Other"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="food_entry_name">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<!-- exercise_entry elements -->
<xsd:simpleType name="is_template_value">
	<xsd:restriction base="xsd:boolean" />
</xsd:simpleType>

<xsd:simpleType name="exercise_id">
	<xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="exercise_name">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="minutes">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<!-- profile element -->
<xsd:simpleType name="auth_token">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="auth_secret">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="weight_measure">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Kg"/>
		<xsd:enumeration value="Lb"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="height_measure">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Cm"/>
		<xsd:enumeration value="Inch"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="last_weight_kg">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="last_weight_date_int">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="last_weight_comment">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="goal_weight_kg">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="height_cm">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>
  
<xsd:simpleType name="weight_kg">
	<xsd:restriction base="xsd:decimal" />
</xsd:simpleType>

<xsd:simpleType name="weight_comment">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="session_key">
	<xsd:restriction base="xsd:string" />
</xsd:simpleType>

<!-- month elements -->
<xsd:simpleType name="from_date_int">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="to_date_int">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<!-- day elements -->
<xsd:simpleType name="date_int">
	<xsd:restriction base="xsd:int" />
</xsd:simpleType>

<!-- definition of complex elements -->

<!-- success -->
<xsd:element name="success" type="xsd:boolean" />

<!-- error -->
<xsd:element name="error">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="code" type="code"/>
			<xsd:element name="message" type="message"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<!-- serving -->
<xsd:complexType name="serving">
	<xsd:sequence>
		<xsd:element name="serving_id" type="serving_id"/>
		<xsd:element name="serving_description" type="serving_description"/>
		<xsd:element name="serving_url" type="serving_url"/>
		<xsd:element name="metric_serving_amount" type="metric_serving_amount" minOccurs="0"/>
		<xsd:element name="metric_serving_unit" type="metric_serving_unit" minOccurs="0"/>
		<xsd:element name="number_of_units" type="number_of_units"/>
		<xsd:element name="measurement_description" type="measurement_description"/>
		<xsd:element name="calories" type="calories"/>
		<xsd:element name="carbohydrate" type="carbohydrate"/>
		<xsd:element name="protein" type="protein"/>
		<xsd:element name="fat" type="fat"/>
		<xsd:element name="saturated_fat" type="saturated_fat" minOccurs="0"/>
		<xsd:element name="polyunsaturated_fat" type="polyunsaturated_fat" minOccurs="0"/>
		<xsd:element name="monounsaturated_fat" type="monounsaturated_fat" minOccurs="0"/>
		<xsd:element name="trans_fat" type="trans_fat" minOccurs="0"/>
		<xsd:element name="cholesterol" type="cholesterol" minOccurs="0"/>
		<xsd:element name="sodium" type="sodium" minOccurs="0"/>
		<xsd:element name="potassium" type="potassium" minOccurs="0"/>
		<xsd:element name="fiber" type="fiber" minOccurs="0"/>
		<xsd:element name="sugar" type="sugar" minOccurs="0"/>
		<xsd:element name="vitamin_a" type="vitamin_a" minOccurs="0"/>
		<xsd:element name="vitamin_c" type="vitamin_c" minOccurs="0"/>
		<xsd:element name="calcium" type="calcium" minOccurs="0"/>
		<xsd:element name="iron" type="iron" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<!-- food -->
<xsd:complexType name="food">
	<xsd:sequence>
		<xsd:element name="food_id" type="food_id"/>
		<xsd:element name="food_name" type="food_name"/>
		<xsd:element name="brand_name" type="brand_name" minOccurs="0"/>
		<xsd:element name="food_type" type="food_type"/>
		<xsd:element name="food_url" type="food_url"/>
		<xsd:element name="food_description" type="food_description"/>
		<xsd:element name="servings" minOccurs="0">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="serving" type="serving" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="food" type="food" />

<!-- foods -->
<xsd:element name="foods">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="max_results" type="max_results"/>
			<xsd:element name="total_results" type="total_results"/>
			<xsd:element name="page_number" type="page_number"/>
			<xsd:element name="food" type="food" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<!-- food_entry_id -->
<xsd:element name="food_entry_id" type="food_entry_id"/>

<!-- food_entry -->
<xsd:complexType name="food_entry">
	<xsd:sequence>
		<xsd:element name="food_entry_id" type="food_entry_id"/>
		<xsd:element name="food_entry_description" type="food_entry_description"/>
		<xsd:element name="date_int" type="date_int"/>
		<xsd:element name="meal" type="meal"/>
		<xsd:element name="food_id" type="food_id"/>
		<xsd:element name="serving_id" type="serving_id"/>
		<xsd:element name="number_of_units" type="number_of_units"/>
		<xsd:element name="food_entry_name" type="food_entry_name"/>
		<xsd:element name="calories" type="calories"/>
		<xsd:element name="carbohydrate" type="carbohydrate"/>
		<xsd:element name="protein" type="protein"/>
		<xsd:element name="fat" type="fat"/>
		<xsd:element name="saturated_fat" type="saturated_fat" minOccurs="0"/>
		<xsd:element name="polyunsaturated_fat" type="polyunsaturated_fat" minOccurs="0"/>
		<xsd:element name="monounsaturated_fat" type="monounsaturated_fat" minOccurs="0"/>
		<xsd:element name="trans_fat" type="trans_fat" minOccurs="0"/>
		<xsd:element name="cholesterol" type="cholesterol" minOccurs="0"/>
		<xsd:element name="sodium" type="sodium" minOccurs="0"/>
		<xsd:element name="potassium" type="potassium" minOccurs="0"/>
		<xsd:element name="fiber" type="fiber" minOccurs="0"/>
		<xsd:element name="sugar" type="sugar" minOccurs="0"/>
		<xsd:element name="vitamin_a" type="vitamin_a" minOccurs="0"/>
		<xsd:element name="vitamin_c" type="vitamin_c" minOccurs="0"/>
		<xsd:element name="calcium" type="calcium" minOccurs="0"/>
		<xsd:element name="iron" type="iron" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<!-- food_entries -->
<xsd:element name="food_entries">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="food_entry" type="food_entry" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<!-- exercise -->
<xsd:complexType name="exercise">
	<xsd:sequence>
		<xsd:element name="exercise_id" type="exercise_id"/>
		<xsd:element name="exercise_name" type="exercise_name"/>
	</xsd:sequence>
</xsd:complexType>

<!-- exercise_types -->
<xsd:element name="exercise_types">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="exercise" type="exercise" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<!-- exercise_entry -->
<xsd:complexType name="exercise_entry">
	<xsd:sequence>
		<xsd:element name="is_template_value" type="is_template_value"/>
		<xsd:element name="exercise_id" type="exercise_id"/>
		<xsd:element name="exercise_name" type="exercise_name"/>
		<xsd:element name="minutes" type="minutes"/>
		<xsd:element name="calories" type="calories"/>
	</xsd:sequence>
</xsd:complexType>

<!-- exercise_entries -->
<xsd:element name="exercise_entries">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="exercise_entry" type="exercise_entry" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<!-- profile -->
<xsd:element name="profile">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="auth_token" type="auth_token" minOccurs="0" />
			<xsd:element name="auth_secret" type="auth_secret" minOccurs="0" />
			<xsd:element name="weight_measure" type="weight_measure" minOccurs="0" />
			<xsd:element name="height_measure" type="height_measure" minOccurs="0" />
			<xsd:element name="last_weight_kg" type="last_weight_kg" minOccurs="0" />
			<xsd:element name="last_weight_date_int" type="last_weight_date_int" minOccurs="0" />
			<xsd:element name="last_weight_comment" type="last_weight_comment" minOccurs="0" />
			<xsd:element name="goal_weight_kg" type="goal_weight_kg" minOccurs="0" />
			<xsd:element name="height_cm" type="height_cm" minOccurs="0" />
			<xsd:element name="session_key" type="session_key" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<!-- day -->
<xsd:complexType name="day">
	<xsd:sequence>
		<xsd:element name="date_int" type="date_int" />
		<xsd:element name="calories" type="calories" minOccurs="0"/>
		<xsd:element name="carbohydrate" type="carbohydrate" minOccurs="0"/>
		<xsd:element name="protein" type="protein" minOccurs="0"/>
		<xsd:element name="fat" type="fat" minOccurs="0"/>
		<xsd:element name="weight_kg" type="weight_kg" minOccurs="0"/>
		<xsd:element name="weight_comment" type="weight_comment" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<!-- month -->
<xsd:element name="month">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="from_date_int" type="from_date_int" />
			<xsd:element name="to_date_int" type="to_date_int" />
			<xsd:element name="day" type="day" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>