presentation/src/main/java/presentation/binding/ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.integration/" name="BusinessLogicService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.integration/" schemaLocation="http://localhost:8080/introsde/integration/ws?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserDevices">
<part name="parameters" element="tns:getUserDevices"/>
</message>
<message name="getUserDevicesResponse">
<part name="parameters" element="tns:getUserDevicesResponse"/>
</message>
<message name="getUserNutrition">
<part name="parameters" element="tns:getUserNutrition"/>
</message>
<message name="getUserNutritionResponse">
<part name="parameters" element="tns:getUserNutritionResponse"/>
</message>
<message name="getUserActivity">
<part name="parameters" element="tns:getUserActivity"/>
</message>
<message name="getUserActivityResponse">
<part name="parameters" element="tns:getUserActivityResponse"/>
</message>
<portType name="EndpointInterface">
<operation name="getUserDevices">
<input wsam:Action="http://soap.server.integration/EndpointInterface/getUserDevicesRequest" message="tns:getUserDevices"/>
<output wsam:Action="http://soap.server.integration/EndpointInterface/getUserDevicesResponse" message="tns:getUserDevicesResponse"/>
</operation>
<operation name="getUserNutrition">
<input wsam:Action="http://soap.server.integration/EndpointInterface/getUserNutritionRequest" message="tns:getUserNutrition"/>
<output wsam:Action="http://soap.server.integration/EndpointInterface/getUserNutritionResponse" message="tns:getUserNutritionResponse"/>
</operation>
<operation name="getUserActivity">
<input wsam:Action="http://soap.server.integration/EndpointInterface/getUserActivityRequest" message="tns:getUserActivity"/>
<output wsam:Action="http://soap.server.integration/EndpointInterface/getUserActivityResponse" message="tns:getUserActivityResponse"/>
</operation>
</portType>
<binding name="EndpointPortBinding" type="tns:EndpointInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserDevices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserNutrition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserActivity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BusinessLogicService">
<port name="EndpointPort" binding="tns:EndpointPortBinding">
<soap:address location="http://localhost:8080/introsde/integration/ws"/>
</port>
</service>
</definitions>